window {
  background: transparent;
}

box.main {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #292929;
  box-shadow: 0 0 5px black;
  color: #bbbbbb;
}


text {
  min-height: 30px;
  padding: 5px;
  border-radius: 0px;
  color: #ffffff;
  font-family: "Geist", sans-serif;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match.description {
  font-size: 10px;
  font-family: "Geist", sans-serif;
}

label.plugin.info {
  font-size: 14px;
  font-family: "Geist", sans-serif;
}

.match {
  background: transparent;
  color: #ffffff;
  font-family: "Geist", sans-serif;
}

.match:selected {
  border-left: 4px solid @theme_selected_bg_color;
  background: #292929;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
